body{
    font-family: sans-serif;
    background-color: #A6FFFF;
    text-align: center;
}

section{
    background-color: #5887FF;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid #102E4A;
    border-radius: 10px;
    margin: auto;
    max-width: 1000px;
    flex-wrap: wrap;

}

.block{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin : 50px;
    min-width: 100px;
    padding : 20px;
    border: 2px solid #102E4A;
    transition: all 0.4s ease-out;
    cursor: pointer;
    background-color: #A6FFFF;
}


.block:hover{
    background-color: #102E4A;
    border-color: #A6FFFF;
    transition: all 0.4s ease-out;
    color: white;
}


div{
    text-decoration: underline;
    margin: 5px;
}