body{
    font-family: sans-serif;
    background-color: #A6FFFF;
    text-align: center;
}

section{
    background-color: #5887FF;
    width: 1200px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #102E4A;
    border-radius: 10px;
}

.kind{
    margin : 50px;
    padding : 20px;
    border: 2px solid #102E4A;
    transition: all 0.4s ease-out;
    cursor: pointer;
    background-color: #A6FFFF;
}

.kind:hover{
    background-color: #102E4A;
    border-color: #A6FFFF;
    transition: all 0.4s ease-out;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}